<!-- extend user layout -->
{% extends "user.html" %}

{% block content %}
  {{ super() }}

<!-- extend user layout -->

<!--<!doctype html>-->
 
  
  <div style="width: 1200px; margin-right: 20px; margin-left: 200px">
    <div style="float: left; width: 1200px; padding: 2em 10em">

      <h1 style="font-size: 35px;" align="center">Usage Diagnosis by Appliances<h1>
     <div class="col-md-1"></div>
       <iframe align="center" width="750" height="600" frameborder="0" scrolling="no" src="https://plot.ly/~elfishing07/20.embed"></iframe>
 
	
     </div>
 </div> 
</html>

{% endblock %}
