<!-- extend base layout -->
{% extends "base.html" %}	

{% block content %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link href="mycss.css" rel="stylesheet">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
			<td valign="top"> 
			    <div style="position:relative;">
			      <img style="position:relative; left:20px" src="{{ user.avatar(128) }}" />
			    </div>
			</td>
			<li style="font-size: 16px;">><a href="">{{ user.nickname }}</a></li>
			<li style="font-size: 16px;"><a href="{{ url_for('overview')}}">Overview </a></li>
			<li class="active" style="font-size: 16px;"><a>Data Analysis<span class="sr-only">(current)</span></a></li>
			<li style="font-size: 16px;"><a href="{{ url_for('per_year')}}">Annual Usage</a></li>
			<li style="font-size: 16px;"><a href="{{ url_for('per_month')}}">Monthly Usage</a></li>
			<li style="font-size: 16px;"><a href="{{ url_for('per_week')}}">Weekly Usage</a></li>
			<li style="font-size: 16px;"><a href="{{ url_for('per_day')}}">Daily Usage</a></li>
			<li style="font-size: 16px;"><a href="{{ url_for('per_hour')}}">Hourly Usage</a></li>
			<li style="font-size: 16px;"><a href="{{ url_for('appliance')}}">Appliance Diagnosis</a></li>
		  
        </ul>
        <ul class="nav nav-sidebar">
          <li class="active" style="font-size: 16px;"><a>Personal assistance<span class="sr-only">(current)</span></a></li>
          <li style="font-size: 16px;"><a href="{{ url_for('ranking')}}">ESaver Ranking</a></li>
          <li style="font-size: 16px;"><a href="{{ url_for('advises')}}">Tips</a></li>
          <li style="font-size: 16px;"><a href="{{ url_for('upload_file')}}">Upload file</a></li>
        </ul>
        
      </div>
		
	  </div>  
  </div>
  {% endblock %}
  
  {% block footer %}
 
  <!-- Begin footer -->
  <footer class="text-off-white">
  
      <div class="footer-top">
      	<div class="container">
          	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                  <div class="col-sm-6 col-md-4">
                  	<h4>Useful Links</h4>
                      <ul class="imp-links">
                      	<li><a href="">About</a></li>
                      	<li><a href="">Services</a></li>
                      	<li><a href="">Press</a></li>
                      	<li><a href="">Copyright</a></li>
                      	<li><a href="">Advertise</a></li>
                      	<li><a href="">Legal</a></li>
                      </ul>
                  </div>
              
              	<div class="col-sm-6 col-md-4">
                      <h4>Subscribe</h4>
                  	<div id="footer_signup">
                          <div id="email">
                              <form id="subscribe" method="POST">
                                  <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                                  <button type="submit">Submit</button>
                                  <span id="result" class="section-description"></span>
                              </form> 
                         </div>
                      </div> 
                  </div>
	
                
  <!-- End footer -->
  
  
  {% endblock %}
  
  
  

